/*CSS PÁGINA REGISTRO*/

.contenedor-principal {
    min-height: 100vh;
}

.tarjeta-formulario {
    width: 100%;
    max-width: 400px;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.boton-registro {
    background-color: #28976E !important;
}

.enlace {
    color: #28976E !important;
    text-decoration: none;
}

/*CSS PÁGINA HOME*/

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

.bg-money {
  background-color: #28976E !important;
}

.sidebar {
  width: 220px;
  min-height: 100vh;
  border-right: 1px solid #dee2e6;
}

.sidebar .nav-link {
  color: #333;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: #28976E;
  background-color: #e7f7f0;
  border-radius: 5px;
}

.main-content {
  flex-grow: 1;
}

.card {
  border-width: 2px;
}

/* Vista de Reportes */

.chart-container {
  position: relative;
  height: 400px;
  margin-bottom: 2rem;
}
.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

/* Vista de Ahorros */

.savings-card {
  cursor: pointer;
  transition: transform 0.2s;
}
.savings-card:hover {
  transform: translateY(-2px);
}
.pig-icon {
  font-size: 3rem;
  color: #ff69b4;
}